@import 'reset';
@import 'variables';

body {
    background: linear-gradient($grad);
    display: grid;
    place-items: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-display: swap;
}

.btn {
    font-size: 30px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    border-style: solid;
    border-color: #2e3854;
    text-decoration: none;
    width: 60px;
    height: 60px;
    border-radius: 20px;
    color: white;
    background: #2c3651;
    box-shadow: 2px 1px #232c45;

    &:hover {
        background: #404d6f;
        box-shadow: none;
    }

    &:active {
        background: #313e62;
        box-shadow: none;
    }
}


.screen {
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
    text-align: right;
    margin-top: 20px;
    width: 85%;
    height: 200px;
    font-size: 60px;
    color: white;
}

.calc {

    border-color: #394462;
    border-style: solid;
    box-shadow:
        0 0 5px 1px #ef8708;

    display: grid;
    place-items: center;
    height: 620px;
    width: 300px;
    grid-template-areas: "screen screen screen screen"
        "c divide times back"
        "seven eight nine minus"
        "four five six plus"
        "one two three equals"
        "percentage zero point equals";
    background: #2c3651;
    border-radius: 25px;
    gap: 0px;
}

.screen {
    grid-area: screen;
}

.c {
    color: $specialButtonColor;
    grid-area: c;
    font-size: 20px;
}

.divide {
    color: $specialButtonColor;
    grid-area: divide;
    font-size: 30px;
}

.times {
    color: $specialButtonColor;
    grid-area: times;
}

.back {
    grid-area: back;
    color: $specialButtonColor;
}

.seven {
    grid-area: seven;
}

.eight {
    grid-area: eight;
}

.nine {
    grid-area: nine;
}

.minus {
    color: $specialButtonColor;
    grid-area: minus;
}

.four {
    grid-area: four;
}

.five {
    grid-area: five;
}

.six {
    grid-area: six;
}

.plus {
    color: $specialButtonColor;
    grid-area: plus;
}

.one {
    grid-area: one;
}

.two {
    grid-area: two;
}

.three {
    grid-area: three;
}

.equals {
    color: white;
    background: $specialButtonColor;
    box-shadow: none;
    grid-area: equals;
    height: 150px;

    &:hover {
        background: #ff8636;
    }

    &:active {
        background: #d45500;
    }
}

.percentage {
    grid-area: percentage;
}

.zero {
    grid-area: zero;
}

.point {
    grid-area: point;
}